body {
    font-family: "Castoro";
    margin: 0%;
    padding: 0%;
    background-color: #FFFBF0;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: "Cartoro";
    background-color: #C0A07A;
    color: #FFFBF0;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.italic-text {
    font-style: italic;
}

.footer-title {
    color: #C0A07A;
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
}

/* Estilização do header */
header {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 2px solid #C0A07A;
}

#logo {
    height: 80px;
}

#links-header {
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

header nav {
    margin: 0 auto;
}

#links-header li {
    display: inline-block;
}


/* Estilização - hero */

#hero {
    line-height: 0; /* elimina o espaçamento causado pela linha de texto */
}

#rolo-filmes {
    display: block; /* impede o comportamento inline */
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -10%;
}

#frase-hero{
    margin-top: -20%;
    margin-left: 4%;
    margin-bottom: 15% ;
    display: flex;
    flex-direction: column;
}

#titulo-hero{
    font-weight: 100;
    font-size:4rem; 
}

/* Estilização - Mais vistos e Recomendados */
.filmes{
    margin-left: 4%;
    margin-right: 4%;
}

.titulo-section{
  font-size: 2rem;    
  font-weight: 100;  
}

.grid-filmes{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.imagem-filme{
    width: 245px;
}

.info-filme{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 250px;
}

.rating-filme{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: -5%;
    color: #C0A07A;
}
.links-filme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saiba-mais{
    background-color: #C2A47E;
    color: #FFFBF0;
    padding: 4%;
    width: 40%;
    border-radius: 1rem;
    text-align: center;
}

.ver-trailer{
    margin-top: 3%;
    font-size: 0.85rem;
    text-decoration: underline;
}

#recomendados{
    margin-bottom: 15%;
}

#mais-vistos{
    margin-bottom: 10%;
}


/* Estilização do footer */
footer {
    background: linear-gradient(to bottom, #FFFBF0, #DBBF9C);
}

#div-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    gap: 12%;
}

.footer-column {
    width: 200px;
}

    /* Contato */
    #contato p {
        font-style: italic;
    }

    #contact-button {
        white-space: nowrap;
    }

    /* Newsletter */
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        font-family: "Cartoro";
        border-color: #DBBF9C;
        border-radius: 20px;
        border-style: solid;
        padding: 7px;
    }

    #newsletter-button {
        margin-inline: auto;
        width: 100px;
    }

    /* Citação */
    .quote-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    q {
        font-style: italic;
    }

    cite {
        font-style: normal;
    }

    /* Links Rápidos */
    .links-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }