body {
    font-family: "Castoro";
    margin: 0%;
    padding: 0%;
    background-color: #FFFBF0;
    color: black;
}

button {
    font-family: "Cartoro";
    background-color: #C0A07A;
    color: #FFFBF0;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.italic-text {
    font-style: italic;
}

.footer-title {
    color: #C0A07A;
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
}

/* Estilização do footer */
footer {
    background: linear-gradient(to bottom, #FFFBF0, #DBBF9C);
}

#div-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    gap: 12%;
}

.footer-column {
    width: 200px;
}

    /* Contato */
    #contato p {
        font-style: italic;
    }

    #contact-button {
        white-space: nowrap;
    }

    /* Newsletter */
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        font-family: "Cartoro";
        border-color: #DBBF9C;
        border-radius: 20px;
        border-style: solid;
        padding: 7px;
    }

    #newsletter-button {
        margin-inline: auto;
        width: 100px;
    }

    /* Citação */
    .quote-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    q {
        font-style: italic;
    }

    cite {
        font-style: normal;
    }

    /* Links Rápidos */
    .links-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .links-content a {
        text-decoration: none;
        color: black;
    }