/* Estilização - hero */

#hero {
    margin-top: 120px;
    line-height: 0; 
}

#rolo-filmes {
    display: block; 
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -17%;
}

#frase-hero{
    margin-top: -20%;
    margin-left: 4%;
    margin-bottom: 15% ;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#titulo-hero{
    font-weight: 100;
    font-size:4rem; 
}


/* Estilização - Mais vistos e Recomendados */
.filmes{
    margin-left: 4%;
    margin-right: 4%;
}

.titulo-section{
  font-size: 2rem;    
  font-weight: 100;  
}

.grid-filmes{
    display: grid;
    grid-template-columns: repeat(5,  1fr);
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.imagem-filme{
    width: 100%;
    max-width: 245px;
    transition: all 0.4s ease;
}

.imagem-filme:hover{
    opacity: 0.8;
}

.info-filme{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 250px;
}

.rating-filme{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: -5%;
    color: #C0A07A;
}
.links-filme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saiba-mais{
    background-color: #C2A47E;
    color: #FFFBF0;
    padding: 4%;
    width: 40%;
    border-radius: 1rem;
    text-align: center;
}

.saiba-mais:hover{
    background-color: #A8855E;
}

.ver-trailer{
    margin-top: 3%;
    font-size: 0.85rem;
    text-decoration: underline;
}

.ver-trailer:hover{
    color: #A8855E;
}

.saiba-mais, .ver-trailer{
    transition: all 0.4s ease;
}

#recomendados{
    margin-bottom: 15%;
}

#mais-vistos{
    margin-bottom: 10%;
}


/* Celulares */
@media (max-width: 768px) {
    #titulo-hero{
        font-size: 2.3rem; 
    }

    .titulo-section{
        font-size: 1.3rem;    
    }

    #frase-hero{
        font-size: 0.6rem;
    }

    .grid-filmes{
        gap:40px;
    }

    .filme-card {
        width: 150px;
    }

    .imagem-filme {
        width: 100%;
        max-width: 150px;
    }

    .info-filme,
    .rating-filme {
        gap: 2%;
        width: 150px;
        font-size: 0.8rem;
    }

    .links-filme {
        width: 100%;
    }

    .saiba-mais {
        width: 60%;
        font-size: 0.8rem;
        padding: 5%;
    }

    .ver-trailer {
        font-size: 0.7rem;
    }

    #rolo-filmes {
        margin-top: -50%;
    }
}