html {
    scroll-behavior: smooth;
}

body {
    font-family: "Castoro";
    margin: 0%;
    padding: 0%;
    background-color: #FFFBF0;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: "Cartoro";
    background-color: #C0A07A;
    color: #FFFBF0;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.italic-text {
    font-style: italic;
}

.footer-title {
    color: #C0A07A;
    font-style: italic;
    font-weight: 100;
    font-size: 23px;
}

/* Estilização do header */
header {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 2px solid #C0A07A;
}

#logo {
    height: 80px;
}

#menu-hamburguer{
    display: none;
}

.menu-btn{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 22px;
    cursor: pointer;
}

.menu-btn span{
    display: block;
    height: 4px;
    width: 100%;
    background-color:black;
}

#links-header {
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

header nav {
    margin: 0 auto;
}

#links-header li {
    display: inline-block;
}



/* Estilização - hero */

#hero {
    line-height: 0; 
}

#rolo-filmes {
    display: block; 
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -9%;
}

#frase-hero{
    margin-top: -20%;
    margin-left: 4%;
    margin-bottom: 15% ;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#titulo-hero{
    font-weight: 100;
    font-size:4rem; 
}

/* Estilização - Mais vistos e Recomendados */
.filmes{
    margin-left: 4%;
    margin-right: 4%;
}

.titulo-section{
  font-size: 2rem;    
  font-weight: 100;  
}

.grid-filmes{
    display: grid;
    grid-template-columns: repeat(5,  1fr);
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.imagem-filme{
    width: 100%;
    max-width: 245px;
}

.info-filme{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    width: 250px;
}

.rating-filme{
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin-top: -5%;
    color: #C0A07A;
}
.links-filme{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saiba-mais{
    background-color: #C2A47E;
    color: #FFFBF0;
    padding: 4%;
    width: 40%;
    border-radius: 1rem;
    text-align: center;
}

.ver-trailer{
    margin-top: 3%;
    font-size: 0.85rem;
    text-decoration: underline;
}

#recomendados{
    margin-bottom: 15%;
}

#mais-vistos{
    margin-bottom: 10%;
}


/* Estilização do footer */
footer {
    background: linear-gradient(to bottom, #FFFBF0, #DBBF9C);
}

#div-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    gap: 12%;
}

.footer-column {
    width: 200px;
}

/* Contato */
#contato p {
     font-style: italic;
}

#contact-button {
    white-space: nowrap;
}

/* Newsletter */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    font-family: "Cartoro";
    border-color: #DBBF9C;
    border-radius: 20px;
    border-style: solid;
    padding: 7px;
}

#newsletter-button {
    margin-inline: auto;
    width: 100px;
}

/* Citação */
.quote-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

q {
    font-style: italic;
}

cite {
    font-style: normal;
}

/* Links Rápidos */
.links-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 5px;
}

/* Tablets */
@media (max-width: 1024px) {
    #links-header {
        gap:40px;
    }
}

/* Celulares */
@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .menu-btn{
        display: flex;
        position: absolute;
        right: 8%;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        display: none;
        flex-direction: column;
        background-color: #FFFBF0;
        border-top: 2px solid #C0A07A;
        border-bottom: 2px solid #C0A07A;
        padding: 40px;
        align-items: center;
    }
        
    #menu-hamburguer:checked ~ .menu {
        display: flex;
    }
        
    #menu-hamburguer:checked + .menu-btn span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 7px);
    }
        
    #menu-hamburguer:checked + .menu-btn span:nth-child(2) {
        opacity: 0;
    }
        
    #menu-hamburguer:checked + .menu-btn span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    #titulo-hero{
        font-size: 2.3rem; 
    }

    .titulo-section{
        font-size: 1.3rem;    
    }

    #frase-hero{
        font-size: 0.75rem;
    }

    #links-header{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        gap: 20px;
        font-size: 0.9rem;
    }

    .grid-filmes{
        gap:40px;
    }

    .filme-card {
        width: 150px;
    }

    .imagem-filme {
        width: 100%;
        max-width: 150px;
    }

    .info-filme,
    .rating-filme {
        gap: 2%;
        width: 150px;
        font-size: 0.8rem;
    }

    .links-filme {
        width: 100%;
    }

    .saiba-mais {
        width: 60%;
        font-size: 0.8rem;
        padding: 5%;
    }

    .ver-trailer {
        font-size: 0.7rem;
    }

    #div-footer {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        width: 100%;
        font-size: 0.8rem;
    }

    .links-content {
        align-items: left;
        text-align: left;
        gap: 5px;
    }
}