h1, h2, h3 {
    font-weight: 100;    
}


/* Estilização da main */
#img-capa {
    width: 100%;
}

    /* Estilização da section resenha */
    #content {
        display: flex;
        align-items: center;
        padding: 0px 50px;
        gap: 50px;
    }

    #content p {
        font-size: 1.3rem;
        text-align: left;
    }

    #hr {
        margin-top: -25px;
        width: 95%;
    }

    #genero {
        display: flex;
        list-style-type: none;
        gap: 25px;
        padding: 0;
    }

    #genero li {
        border: 4px solid #C2A47E;
        border-radius: 10px;
        padding-inline: 3%;
        text-align: center;
        font-size: 1.2rem;
    }

    #rating h2, #assistir h2, #classificacoes h2 {
        font-style: italic;
    }

    #content2 {
        display: grid;
        grid-template-areas: 
        "rating assistir classificacoes img-personagem";
    }

    #rating {
        grid-area: rating;
        justify-self: center;
        align-items: center;
    }

    #rating h2 {
        justify-self: center;
    }

    #rating-img {
        height: 17%;
    }

    #assistir {
        grid-area: assistir;
        display: flexbox;
        justify-self: center;
    }

    #assistir h2 {
        justify-self: center;
    }

    #classificacoes {
        grid-area: classificacoes;
        display: flexbox;
        justify-self: center;
    }

    .imgs-logos {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .imgs-logos p {
        text-align: center;
        margin-top: 5px;
    }

    #img-personagem {
        grid-area: img-personagem;
        margin-top: -55px;
        justify-self: right;
        padding-right: 40px;
    }

    /* Estilização da section imgs */
    #imgs {
        display: grid;
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9";
        padding: 0px 40px;
        margin-block: 70px 130px;
        gap: 20px;
    }

    #img1 { grid-area: img1;}
    #img2 { grid-area: img2;}
    #img3 { grid-area: img3;}
    #img4 { grid-area: img4;}
    #img5 { grid-area: img5;}
    #img6 { grid-area: img6;}
    #img7 { grid-area: img7;}
    #img8 { grid-area: img8;}
    #img9 { grid-area: img9;}

    #imgs img{
        width: 100%;
    } 

    @media (max-width: 768px) {
        #content{
            flex-direction: column;
        }

        #img-tv{
            width: 90%;
        }

        #content p, #content li{
            font-size: 0.7rem;
        }

        #content2 {
            display: grid;
            grid-template-areas: 
            "img-personagem"
            "rating"
            "assistir"
            "classificacoes";
        }


        #content2 h2{
            font-size: 1rem;
        }

        #img-personagem {
            display: none;
        }
        
        #imgs {
            display: flex;           
            overflow-x: auto;        
            gap: 15px;               
            padding: 10px;           
            scroll-snap-type: x mandatory; 
            scrollbar-width: none;
        }
    
        #imgs img {
            flex: 0 0 auto;          
            scroll-snap-align: start; 
        }
    }