body {
    font-family: "Castoro";
    margin: 0;
    padding: 0;
    background-color: #FFFBF0;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    font-weight: 100;    
}

button {
    font-family: "Cartoro";
    background-color: #C0A07A;
    color: #FFFBF0;
    border-radius: 20px;
    border: none;
    padding: 7px;
}

.italic-text {
    font-style: italic;
}



/* Estilização do header */
header {
    display: flex;
    align-items: center;
    padding-inline: 20px;
}

#logo {
    height: 80px;
}

#links-header {
    list-style-type: none;
    display: flex;
    gap: 80px;
    margin: 0;
    padding: 0;
}

header nav {
    margin: 0 auto;
}

#links-header li {
    display: inline-block;
    font-size: 1.2rem;
}


/* Estilização da main */
#img-capa {
    width: 100%;
}

    /* Estilização da section resenha */
    #content {
        display: flex;
        align-items: center;
        padding: 0px 50px;
        gap: 50px;
    }

    #content p {
        font-size: 1.3rem;
        text-align: left;
    }

    #hr {
        margin-top: -25px;
        width: 95%;
    }

    #genero {
        display: flex;
        list-style-type: none;
        gap: 25px;
        padding: 0;
    }

    #genero li {
        border: 4px solid #C2A47E;
        border-radius: 10px;
        padding-inline: 3%;
        text-align: center;
        font-size: 1.2rem;
    }

    #rating h2, #assistir h2, #classificacoes h2 {
        font-style: italic;
    }

    #content2 {
        display: grid;
        grid-template-areas: 
        "rating assistir classificacoes img-protagonista";
        /* ajustar o gap */
    }

    #rating {
        grid-area: rating;
        justify-self: center;
        align-items: center;
    }

    #rating h2 {
        justify-self: center;
    }

    #rating-img {
        height: 20%;
    }

    #assistir {
        grid-area: assistir;
        display: flexbox;
        justify-self: center;
    }

    #classificacoes {
        grid-area: classificacoes;
    }

    #img-protagonista {
        grid-area: img-protagonista;
        margin-top: -55px;
        justify-self: right;
        padding-right: 40px;
    }

    /* Estilização da section imgs */
    #imgs {
        display: grid;
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9";
        padding: 0px 40px;
        margin-block: 70px 130px;
        gap: 20px;
    }

    #img1 {
        grid-area: img1;
    }

    #img2 {
        grid-area: img2;
    }

    #img3 {
        grid-area: img3;
    }

    #img4 {
        grid-area: img4;
    }

    #img5 {
        grid-area: img5;
    }

    #img6 {
        grid-area: img6;
    }

    #img7 {
        grid-area: img7;
    }

    #img8 {
        grid-area: img8;
    }

    #img9 {
        grid-area: img9;
    }

    #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
        width: 100%;
    } 


/* Estilização do footer */
footer {
    background: linear-gradient(to bottom, #FFFBF0, #DBBF9C);
}

#div-footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
    gap: 12%;
}

.footer-title {
    color: #C0A07A;
    font-style: italic;
    font-weight: 100;
}

.footer-column {
    width: 200px;
}

    /* Contato */
    #contato p {
        font-style: italic;
    }

    #contact-button {
        white-space: nowrap;
    }

    /* Newsletter */
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    input {
        font-family: "Cartoro";
        border: 3px solid #DBBF9C;
        border-radius: 20px;
        padding: 7px;
    }

    #newsletter-button {
        margin-inline: auto;
        width: 100px;
    }

    /* Citação */
    .quote-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    q {
        font-style: italic;
    }

    cite {
        font-style: normal;
    }

    /* Links Rápidos */
    .links-footer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }